<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Agregar</servlet-name>
        <servlet-class>Servlet.Agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADMIN</servlet-name>
        <servlet-class>Servlet.ADMIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregarpizza</servlet-name>
        <servlet-class>Servlet.Agregarpizza</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Agregar</servlet-name>
        <url-pattern>/AGREGAR1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADMIN</servlet-name>
        <url-pattern>/ADMIN1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregarpizza</servlet-name>
        <url-pattern>/AP1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>example/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
